.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 94px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 136px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  color: #fff;
  background: #000 url("../images/cover.jpg") no-repeat center / cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  padding: 165px 50px 106px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  display: block;
  margin-bottom: 20px;
  margin-left: 31px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 0;
  color: inherit;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
